<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    img {
    transition: transform .2s;
}

   img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}


</style>

</head>
<body {% block bg %}style="background-color: #202020" {% endblock %}>


<nav class="navbar navbar-inverse" style = "border-radius: 0px ; margin-bottom: 0px ; height: 80px ; padding-top: 15px ; padding-bottom: 10px">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-family: 'Calligraffitti' ;  font-size: 18px; padding-left: 30px ; padding-right: 30px ; letter-spacing: 2px "> Wanderlust </a>
    </div>
    <ul class="nav navbar-nav">
      <li style="font-family: '' ; letter-spacing: 2px"><a href="{% url 'post_list' %}">Home</a></li>

    </ul>
      <ul class="nav navbar-nav navbar-right">

          {% if request.user.username == "" %}
                  <li style="font-family: '' ; letter-spacing: 1.5px"><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-bullhorn"></span> Not a member yet? Sign up</a></li>
                  <li style="font-family: '' ; letter-spacing: 2px"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

          {% else %}
                <li style="font-family: '' ; letter-spacing: 2px"><a href="{% url 'new_post' %}"><span class="glyphicon glyphicon-plus"></span> Add a new post</a></li>
                <li style="font-family: '' ; letter-spacing: 2px"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                <li style="font-family: '' ; letter-spacing: 2px"><a href=""><span class="glyphicon glyphicon-ok"></span> Hello {{ request.user.username }}</a></li>

          {% endif %}
      </ul>
  </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>

