{% extends 'blog_app/base.html' %}

{% block content%}
    <div style = "color: black; background-color: darkorange;  margin: 0px 0px 0px 0px ; padding-bottom: 30px">
    <br><br>
    <center><h1 style="font-family: 'Cedarville Cursive';font-size: 100px;">Travel Stories</h1>
    <p style="font-family: 'Cedarville Cursive';font-size: 30px; width: 80%">“But that's the glory of travel, as far as I am concerned. I don't want to know what people are talking about. I can't think of anything that excites a greater sense of childlike wonder than to be in a country where you are ignorant of almost everything. Suddenly you are five years old again. You can't read anything, you have only the most rudimentary sense of how things work, you can't even reliably cross a street without endangering your life. Your whole existence becomes a series of interesting guesses.” </p>
    <br>
        <div style="width: 80% ; height:3px; background-color: black ; margin-bottom: 10px"></div>
                <div style="width: 50% ; height:3px; background-color: black ; margin-bottom: 10px"></div>
                <div style="width: 20% ; height:3px; background-color: black;"></div>


    </center>
    <br>

    </div>
    <br><br>
    <div class = "container">
    <div class = "row">
    {% for post in posts %}

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{% url 'post_detail' pk=post.pk %}">
                 <img id = "img" src="{{ post.post_picture.url }}" style="width:100% ; height: 100% ; opacity: 0.9">
                 <div class="caption">
                     <h2 style="font-family: 'Anton'">
                         {{ post.title }}
                     </h2>
                     <h4 style="margin-top:0px ; font-family: 'Open Sans Condensed' ;">
                         {{ post.publish_date }}
                     </h4>
                     <br>
                     <h4 style="margin-top:0px ; font-family: 'Open Sans Condensed' ;">
                         {{ post.author }}
                     </h4>
                  <p style="font-family: 'Open Sans Condensed' ; font-size: 22px">{{ post.text|truncatechars:'170' }}</p>
                 </div>
                </a>
            </div>
         </div>



        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}


    {% endfor %}
        </div>
    </div>
{% endblock %}